@font-face {
  src: url(lilitaone.ttf);
  font-family: lilita;
}

hr
  {
    height: 10px;
    width: auto;
    background-color: black;
    border: solid 1px;
  }

h1 {
   text-align: center;
   font-size: 50px;
   font-family: lilita;
}
